#header_bar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 50%;
    height: 70px;
    background-color: #131921;

    display: flex;
    align-items: center;

    border-radius: 16px;

    z-index: 1000;
    margin-top: 15px;
}


#amazon_logo_in_header {
    height: 40px;
    margin-left: 20px;
    margin-right: 50px;
}

.your-orders-test {
  color: #f3a847;
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;

  cursor: pointer;
  padding: 6px 10px;
  border-radius: 8px;

  

  transition: background-color 0.2s ease, color 0.2s ease;
}

.your-orders-test:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: #f3f3f3;
}





#search {
  width: 800px;
  height: 40px;
  padding: 0 12px;
  margin-bottom: 0px;
  margin-left: 200px;
  font-size: 16px;
  border-radius: 4px 0 0 4px;
}


#search_icon {
  height: 28px;
  width: 28px;
  padding: 6px;
  margin-top: 0px;
  background-color: #febd69;
  border-radius: 0 4px 4px 0;
}


#return_orders_icon{
    margin-left: 45px;
    margin-right: 7px;
}



#cart_text {
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  line-height: 1;
  cursor: pointer;
  margin-left: 8px;
}



.cart_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}



#cart_img {
  width: 70px;
  height: 40px;
}

#number_of_items_in_cart {
  position: absolute;
  top: 2px;
  left: 33px;
  color: #f08804;
  font-size: 18px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  pointer-events: none;
}


a {
    text-decoration: none;
    color: inherit;
}

.cart_container:hover,
#amazon_logo_in_header:hover,
#cart_text:hover {
    outline: 1px solid #ffffff;
    outline-offset: 6px;
}

#return_orders_icon:hover{
    outline: 1px solid #ffffff;
    outline-offset: 1px;
}

