#header_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #131921;
  display: flex;
  align-items: center;
  z-index: 1000;
}

#amazon_logo_in_header {
  height: 40px;
  margin-left: 20px;
}




#search {
  width: 800px;
  height: 40px;
  padding: 0 12px;
  margin-bottom: 0px;
  margin-left: 200px;
  font-size: 16px;
  border-radius: 4px 0 0 4px;
}


#search_icon {
  height: 28px;
  width: 28px;
  padding: 6px;
  margin-top: 0px;
  background-color: #febd69;
  border-radius: 0 4px 4px 0;
}


#return_orders_icon{
    margin-left: 55px;
}



#cart_text {
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  line-height: 1;
  cursor: pointer;
  margin-left: 8px;
}



.cart_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}



#cart_img {
  width: 70px;
  height: 40px;
}

#number_of_items_in_cart {
  position: absolute;
  top: 2px;
  left: 33px;
  color: #f08804;
  font-size: 18px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  pointer-events: none;
}


a {
  text-decoration: none;
  color: inherit;
}

.cart_container:hover,
#cart_text:hover {
  outline: 1px solid #ffffff;
  outline-offset: 6px;
}